[user]
	name = Al McKinlay
	email = alistair@10people.co.uk

[core]
    eol = lf
    autocrlf = input

[alias]
	cob = checkout -b
	co = checkout
	com = checkout master
	col = checkout -
	b = branch
	c = commit -m
	cm = commit --amend --no-edit
	s = status
	d = branch -d
	dd = branch -D
	df = diff --staged
	p = !git push origin `git symbolic-ref --short HEAD`
	pp = !git push --set-upstream origin `git symbolic-ref --short HEAD`
	a = !git add -u && git status
	aa = !git add -u && git add . && git status
	up = !git fetch && git rebase origin/master
	k = !git fetch && gitk --all

[push]
	default = simple

[init]
  templatedir = ~/.git-templates

[help]
  autocorrect = -1

[color]
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[pager]
        diff = diff-highlight | less
        log = diff-highlight | less
        show = diff-highlight | less
