# Idea project files
.idea

# Libraries
node_modules/

# VS code caches and local storage
code/.config/Code/CachedData/
code/.config/Code/Cache/
code/.config/Code/machineid
code/.config/Code/Local Storage/
code/.config/Code/Backups/workspaces.json
code/.config/Code/storage.json
