/* Custom highlight */
#chat .channel .highlight .text,
#chat .channel .highlight .from {
	color: #dcdccc !important;
}

#chat .channel .highlight .time,
#chat .channel .highlight .from {
	background-color: #006666;
	border-color: #006666;
}

/* Better CSS box */
#user-specified-css-input {
    font-family: monospace;
    height: 400px;
}

/* Hide the close button in sidebar*/
.close{
    display:none;
}

/* Compact sidebar */
#sidebar .networks {
    padding: 6px 2px 6px 15px;
}

#sidebar .network {
    margin-bottom: 10px;
}

#sidebar .chan {
    margin-right: 0px;
    padding: 2px 5px 4px 5px;
    width: auto;
    border-bottom: #3c485c 1px solid;
}

#sidebar .chan:before {
    display: none;
}

#sidebar .chan .badge {
    margin-top: -1px;
    right: 5px !important;
}
#sidebar .chan .close {
    top: 2px; right: -5px;
}


/*Thinner sidebar*/
#sidebar,
#footer,
.tse-scroll-content
{
    width: 150px
}

#main{
    left: 150px
}

#sidebar div.chan{
    width: 140px
}


/*Thinner user sidebar*/
#chat .sidebar{
    width: 150px
}

#chat .chat{
    right: 150px
}

/* <Nick> */
.messages .user:before {
    content: "<";
}
.messages .user:after {
    content: ">";
}

/* highlight text for zenburn */
.highlight .text{
    color: #bb5555 !important;
}

/* remove name icon thingy */
#nick {
    display: none;
}

#form #input {
    padding-left: 10px !important;
}
